@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/*general styling*/

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-gold:#D4AF37;
    --clr-black:#000000;
    --clr-off-black:#100f0f;
}   

body{
    font-family: "Merriweather", serif; 
}

.website-logo img{
    width: 50px;
}

/*navbar styling*/

nav{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 1.5rem 3rem;
}

.website-logo a{
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
}

.website-logo p{
    color: white;
    font-size: 2.25rem;
}

.navigation-links{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}

.navigation-links a{
    color: white;
    text-decoration: none;
    transition: all .3s;
    display: block;
    position: relative;
}

.navigation-links a::after{
    width: 0%;
    height: 1px;
    content: "";
    display: block;
    background-color: var(--clr-gold);
    transition: all .3s;
}

.navigation-links a:hover{
    color: var(--clr-gold);
}

.navigation-links a:hover::after{
    width: 100%;
}

.big-helper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.big-helper.active {
    display: flex;
}

.nav-helper{
    display: flex;
    gap: 30px;
    align-items: center;
}

.cart a{
    font-size: 1.5rem;
    color: white;
    position: relative;
    top: 4px;
    transition: all .3s;
}

.cart a:hover{
    color: var(--clr-gold);
}

.registration-links{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}

.registration-links a{
    padding: 10px 15px;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    transition: all .3s;
    color: black;
}   

.login-link{
    border: 2px solid white;
    background-color: white;
}

.sign-out-button button{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    transition: all .3s;
    color: black;
    font-family: "Merriweather", serif;
    font-size: 1.05rem;
    border: none;
}

.user-profile-link a{
    color: white;
    transition: all .3s;
    display: block;
}

.user-profile-link a::after{
    width: 0%;
    height: 1px;
    content: "";
    display: block;
    background-color: var(--clr-gold);
    transition: all .3s;
}

.user-profile-link a:hover{
    color: var(--clr-gold);
}

.user-profile-link a:hover::after{
    width: 100%;
}

.sign-out-button button:hover{
    box-shadow: 0 0 15px 3px rgba(255, 255, 255);
}

.login-link:hover{
    box-shadow: 0 0 15px 3px rgba(255, 255, 255);
}

.register-link{
    border: 2px solid var(--clr-gold);
    background-color: var(--clr-gold);
}

.register-link:hover{
    box-shadow: 0 0 15px 3px var(--clr-gold);
}

.hamburger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 3rem;
}

.hamburger-line{
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
    border-radius: 6px;
    margin-bottom: 9px;
    transition: all .3s;
}

/*spot prices styling*/

.spot-prices{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: var(--clr-off-black);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    text-align: center;
    z-index: 5;
}

.spot-prices-info p{
    opacity: 0.6;
}

.spot-price-divs{
    display: flex;
    align-items: center;
    gap: 20px;
}

.spot-price-div{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.spot-price-div p{
    font-size: 1.1rem;
    z-index: 6;
}

.spot-price-div span{
    opacity: 0.85;
}

.spot-price-div img{
    width: 40px;
}

.smaller-image img{
    width: 50px;
    z-index: 4;
    position: relative;
    top: 2px;
}

.smaller-image p{
    right: 5px;
    position: relative;
}

.smaller-image span{
    right: 5px;
    position: relative;
}

/*footer styling*/

footer{
    width: 100%;
    padding: 0 0 7rem;
    background-color: black;
    color: white;
}

.footer-partners{
    width: 100%;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-off-black);
    padding: 1.5rem 0;
}

.footer-partners img{
    width: 110px;
}

.argor-heraeus-class img{
    width: 60px;
}

.footer-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    justify-content: center;
    margin: 100px auto;
    padding: 0 5rem;
    position: relative;
    z-index: 3;
}

.footer-website-logo > p{
    margin-top: 20px;
    font-size: 0.9rem;
    opacity: 0.85;
    line-height: 23px;
}

.footer-simular > p{
    font-size: 1.5rem;
    margin-bottom: 15px;
    position: relative;
    display: block;
}

.footer-simular > p::after{
    width: 50px;
    height: 2px;
    content: "";
    display: block;
    background-color: var(--clr-gold);
}

.footer-simular span{
    display: block;
    margin-bottom: 10px;
    opacity: 0.85;
}

.footer-socials{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.footer-socials p{
    font-size: 2rem;
    cursor: pointer;
    color: var(--clr-gold);
    transition: all .3s;
}

.footer-socials p:hover{
    transform: scale(1.1);
}

.footer-bottom{
    text-align: center;
}

/*contact page styling*/

.page-heading{
    padding: 5rem 2rem 0;
    text-align: center;
}

.page-heading h1{
    font-size: 3rem;
    color: var(--clr-gold);
    margin-bottom: 15px;
}

.page-heading h2{
    font-size: 1rem;
    opacity: 0.8;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto;
}

.contact-offices{
    width: 90%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 30px;
}

.office-navigation{
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.15);
    padding: 2rem;
}

.office-navigation h3{
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.office-navigation ul{
    list-style: none;
}

.office-navigation ul li{
    margin: 15px 0;
    cursor: pointer;
    transition: all .3s;
    font-size: 1.25rem;
}

.office-navigation ul li:hover{
    color: var(--clr-gold);
}

.selected-office{
    color: var(--clr-gold);
    position: relative;
    display: block;
}

.selected-office::after{
    width: 100px;
    height: 2px;
    content: "";
    display: block;
    background-color: var(--clr-gold);
    position: absolute;
    bottom: -5px;
}

.office-details{
    background-color: var(--clr-gold);
    color: white;
    padding: 2rem;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.15);
}

.office-details > p{
    font-size: 2.25rem;
    margin-bottom: 40px;
    font-weight: bold;
}

.office-details-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 100%;
}

.office-details-div p{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.office-details-div span{
    opacity: 0.8;
}

/*about page styling*/

.about-employees{
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

.about-offices{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 auto 50px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 90%;
}

.about-selection-button{
    font-size: 1.25rem;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all .3s;
    font-family: "Merriweather", serif; 
}

.about-selection-button:hover{
    color: var(--clr-gold);
}

.about-selected{
    color: var(--clr-gold);
    position: relative;
    display: block;
}

.about-selected::after{
    width: 100%;
    height: 2px;
    content: "";
    display: block;
    background-color: var(--clr-gold);
    position: absolute;
    bottom: -5px;
}

.about-employees-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    align-items: center;
    width: 100%;
    padding: 2rem 8rem;
    background-color: black;
}

.employee-div{
    position: relative;
    transition: all .6s;
}

.employee-div:hover{
    transform: scale(1.05);
}

.employee-div img{
    width: 100%;
}

.employee-div-helper{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.employee-div-helper p, .employee-div-helper span{
    z-index: 3;
    color: var(--clr-gold);
    position: relative;
}

.employee-div-helper p{
    font-size: 1.5rem;
    font-weight: bold;
    bottom: 20px;
}

.employee-div-helper span{
    opacity: 0.75;
    bottom: 15px;
}

.employee-div-bg{
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 2;
    height: 80px;
    position: absolute;
    bottom: 0;
}

.about-awards h3{
    text-align: center;
    font-size: 2.5rem;
    color: var(--clr-gold);
}

.about-awards-grid{
    margin: 100px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 100px;
    grid-column-gap: 50px;
    text-align: center;
}

.award-component-line{
    width: 100px;
    height: 5px;
    display: block;
    background-color: var(--clr-gold);
    margin: 5px auto 20px;
}

.award-component img{
    width: 150px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto 20px;
}

.award-component p{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.award-component span{
    opacity: 0.7;
    font-size: 0.9rem;
}

/*currencies start*/

.currency-heading{
    font-size: 3rem;
    color: var(--clr-gold);
    padding: 5rem 2rem;
    text-align: center;
}

.currency-block{
    padding: 0 5rem;
}

.currency-converter{
    margin-bottom: 50px;
    padding: 2rem;
    color: white;
    background-color: var(--clr-gold);
    margin: 0 auto;
    text-align: center;
}

.currency-converter h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.converter-flex{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.converter-flex input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: "Merriweather", serif;
    transition: all .3s;
    width: 200px;
    height: 50px;
}

.converter-flex input:focus{
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.converter-flex select{
    font-family: "Merriweather", serif;
    background-color: black;
    color: var(--clr-gold);
    border: 1px solid var(--clr-gold);
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

.converter-flex option {
    background-color: black;
    color: var(--clr-gold);
}

.currency-info{
    padding: 2rem 0;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
}

.currency-info-components{
    padding: 0 2rem;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.currency-info-component{
    margin-bottom: 30px;
}

.currency-info-component p{
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.currency-info-component span{
    opacity: 0.7;
    line-height: 23px;
    font-size: 0.9rem;
}

.currency-info-questions{
    padding: 3rem 2rem 0rem;
}

.currency-info-questions h4{
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--clr-gold);
}

.question-answer-component{
    margin-bottom: 20px;
}

.qas-question{
    cursor: pointer;
    transition: all .3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.qas-question-active{
    color: var(--clr-gold);
}

.qas-question:hover{
    color: var(--clr-gold);
}

.qas-question p{
    font-size: 1.1rem;
}

.qas-question-icon{
    font-size: 1.5rem;
    position: relative;
    top: 2px;
}

.qas-answer{
    transition: 'opacity 0.5s ease-in-out';
    margin-top: 10px;
}

.qas-answer p{
    position: relative;
    left: 40px;
    font-size: 0.9rem;
    opacity: 0.8;
    max-width: 450px;
    line-height: 22px;
}

/*form pages styling*/

.form-page{
    padding: 3rem 2rem;
}

.form-page h1{
    font-size: 3rem;
    margin-bottom: 30px;
    color: var(--clr-gold);
    text-align: center;
}

.form-page form{
    width: 400px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 1.5rem;
}

.form-div-helper{
    margin-bottom: 25px;
}

.form-page label{
    font-size: 1.1rem;
    display: block;
    margin-bottom: 5px;
}

.form-page input[type="email"], .form-page input[type="password"]{
    width: 100%;
    height: 40px;
    border: 1px solid var(--clr-gold);
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    font-family: "Merriweather", serif;
    transition: all .3s;
}

.form-page input[type="email"]:focus, .form-page input[type="password"]:focus{
    font-size: 1.05rem;
}

.form-bottom-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-link a{
    text-decoration: none;
    font-size: 1.1rem;
    padding-left: 10px;
    transition: all .3s;
    color: black;
    font-weight: bold;
}

.form-link a:hover{
    color: var(--clr-gold);
}

.form-submit input{
    border: 1px solid var(--clr-gold);
    background-color: var(--clr-gold);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: "Merriweather", serif;
    cursor: pointer;
    transition: all .3s;
}

.form-submit input:hover{
    box-shadow: 0 0 10px 3px var(--clr-gold);
}









/*responsive design*/

@media (max-width:1150px) {
    /*navbar styling*/
    .hamburger{
        display: block;
        z-index: 10;
    }

    .big-helper{
        background-color: black;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 10;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        text-align: center;
    }

    .big-helper.active{
        left: 0;
    }

    .navigation-links{
        display: block;
    }

    .navigation-links a{
        font-size: 2rem;
        margin-bottom: 22px;
    }

    .nav-helper{
        flex-direction: column;
    }

    .registration-links{
        flex-direction: column;
    }

    .registration-links a{
        font-size: 1.25rem;
    }

    .hamburger.active{
        position: fixed;
    }

    .hamburger.active .hamburger-line:first-child{
        transform: translateY(12px) rotate(45deg);
    }

    .hamburger.active .hamburger-line:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .hamburger-line:last-child{
        transform: translateY(-12px) rotate(-45deg);
    }

    /*footer styling*/
    .footer-partners{
        flex-direction: column;
    }

    /*about page styling*/
    .about-employees-images{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 3rem;
    }
}

@media (max-width:950px) {
    /*spot prices styling*/
    .spot-prices{
        flex-direction: column;
        gap: 5px;
    }

    .spot-price-divs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    }

    /*footer styling*/
    .footer-info{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 50px auto;
        padding: 0 2.5rem;
    }

    /*contact page styling*/

    .page-heading {
        padding: 2.5rem 1rem 0;
    }

    .contact-offices{
        margin: 50px auto;
        display: flex;
        flex-direction: column;
    }

    .office-details, .office-navigation{
        width: 100%;
    }

    /*about styling start*/
    .about-offices{
        grid-template-columns: repeat(2,1fr);
    }

    .about-awards-grid{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 50px;
        grid-column-gap: 25px;
    }
}

@media (max-width:700px) {
    /*about page styling*/
    .about-employees-images{
        display: flex;
        flex-direction: column;
    }

    /*currency page styling*/
    .currency-block{
        padding: 2rem 2rem 0;
    }

    .currency-converter{
        padding: 1rem;
    }

    .currency-converter h2{
        font-size: 1.6rem;
    }

    .converter-flex{
        flex-direction: column;
    }

    .currency-info-component{
        margin-bottom: 20px;
    }

    .currency-info-component p{
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .currency-info-component span{
        font-size: 0.8rem;
        line-height: 20px;
    }

    .currency-info-questions{
        padding: 2rem 1rem 0rem;
    }

    .currency-info-questions h4{
        font-size: 1.6rem;
        margin-bottom: 25px;
    }

    .question-answer-component{
        margin-bottom: 15px;
    }

    .qas-question p{
        font-size: 1rem;
    }

    .qas-answer p{
        font-size: 0.8rem;
        line-height: 20px;
        max-width: 300px;
        padding-right: 2rem;
    }
}

@media (max-width:500px) {
    /*navbar styling*/
    nav{
        padding: 1rem;
    }
    
    .website-logo p{
        font-size: 1.5rem;
    }

    .website-logo img{
        width: 35px;
    }

    .hamburger{
        top: 1.25rem;
        right: 1rem;
    }

    /*spot prices styling*/

    .spot-prices{
        padding: 0.5rem 1rem;
    }

    .spot-prices-info p{
        font-size: 0.85rem; 
    }

    .spot-price-div img{
        width: 30px;
    }

    .spot-price-div p{
        font-size: 1rem;
    }

    .spot-price-div span{
        font-size: 0.85rem;
    }

    .smaller-image{
        right: 5px;
    }

    .smaller-image img{
        width: 40px;
    }

    /*footer styling*/
    footer{
        padding: 0 0 9rem;
    }

    .footer-info{
        padding: 0 1rem;
    }

    .footer-website-logo > p {
        margin-top: 10px;
        font-size: 0.7rem;
        line-height: 18px;
    }

    .footer-simular > p {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .footer-simular span {
        font-size: 0.85rem;
        margin-bottom: 5px;
    }

    .footer-socials {
        gap: 10px;
        margin-top: 10px;
    }

    .footer-bottom p{
        font-size: 0.85rem;
    }

    /*contact page styling*/
    .office-details-grid{
        display: flex;
        flex-direction: column;
    }

    .page-heading h1{
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .page-heading h2{
        font-size: 0.85rem;
    }

    .office-navigation{
        padding: 1rem;
    }

    .office-navigation h3{
        font-size: 1.25rem;
        margin-bottom: 20px;
    }

    .office-navigation ul li{
        margin: 10px 0;
        font-size: 0.85rem;
    }

    .office-details{
        padding: 1rem;
    }

    .office-details > p{
        margin-bottom: 25px;
        font-size: 1.75rem;
    }

    .office-details-grid{
        gap: 10px;
    }

    .office-details-div p{
        font-size: 1rem;
    }

    .office-details-div span{
        font-size: 0.85rem;
    }

    /*about page styling*/
    .about-employees{
        margin: 50px auto;
    }

    .about-offices{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .about-employees-images{
        padding: 1.5rem;
        gap: 25px;
    }

    .about-selection-button{
        font-size: 0.85rem;
    }

    .employee-div-helper p{
        font-size: 1.1rem;
        bottom: 15px;
    }

    .employee-div-helper span{
        font-size: 0.85rem;
        bottom: 15px;
    }

    .about-awards h3{
        font-size: 2rem;
    }

    .about-awards-grid{
        margin: 25px auto 50px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .award-component img {
        width: 100px;
        height: 75px;
        margin: 0 auto 10px;
    }

    .award-component-line {
        width:50px;
        height: 3px;
        margin: 5px auto 10px;
    }
    
    .award-component p {
        font-size: 1rem;
    }

    .award-component span {
        font-size: 0.8rem;
    }

    /*currency page styling*/
    .currency-heading{
        font-size: 2.5rem;
    }

    /*forms page styling*/
    .form-page{
        padding: 2rem 1rem;
    }

    .form-page h1{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .form-page form{
        width: 300px;
        padding: 1rem;
    }

    .form-div-helper{
        margin-bottom: 15px;
    }

    .form-page label{
        font-size: 1rem;
    }

    .form-link a{
        font-size: 1rem;
    }

    .form-submit input{
        font-size: 1rem;
        padding: 8px 16px;
    }
}